
.header{
    background: #3367d6;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 20px;
}

.box-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box{
    width: 30%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 6px;
}

.box1{
    background: #e32222;
    color: white;
}

.box2{
    background: #18a64a;
    color: white;
}

.box3{
    background: #ffc107;
    color: #6b3f00;
}

.footer{
    background: #777d8b;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
}